* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #c9c4c4;
}
.container {
    font-family: Georgia, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.text {
    width: 500px;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid black;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button {
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin: 50px 0;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background: white;
}
#color {
    color: aqua;
}